# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Logs
logs/
*.log
logs/**/*.log

# Editor-specific files (VSCode, JetBrains, etc.)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db